/* KeyboardManager */
#hotkeypad [data-sections] {
	height: 60vh;
	max-height: 640px;
	overflow: auto;
}

#hotkeypad [data-section] h4 {
	font-size: 1rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
  font-style: italic;
}

#hotkeypad [data-hotkey] {
	padding-left: 2rem;
}

#hotkeypad [data-hotkey] span {
	width: auto;
	height: auto;
}

#hotkeypad [data-hotkey] p {
	font-size: 1rem;
}
