/* 
	Global styles
 */
em {
	font-style: italic;
}
b,
strong {
	font-weight: 600;
}

/* KeyboardManager */
#hotkeypad [data-sections] {
	height: 60vh;
	max-height: 640px;
	overflow: auto;
}

#hotkeypad [data-section] h4 {
	font-size: 1rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	font-style: italic;
}

#hotkeypad [data-hotkey] {
	padding-left: 2rem;
}

#hotkeypad [data-hotkey] span {
	width: 1.5rem;
	height: 1.5rem;
}

#hotkeypad [data-hotkey] span svg {
	width: 1.5rem;
	height: 1.5rem;
}

#hotkeypad [data-hotkey] p {
	font-size: 1rem;
}

#hotkeypad [data-hotkey] span:has(img) img {
	width: 1.5rem;
	height: 1.5rem;
}

#hotkeypad [data-section="socials"] > ul > li > div:nth-child(3),
#hotkeypad [data-section="projects"] > ul > li > div:nth-child(3),
#hotkeypad [data-section="certificates"] > ul > li > div:nth-child(3) {
	display: none;
}

@media (max-width: 768px) {
	#hotkeypad [data-hotkey] div {
		display: none;
	}

	#hotkeypad [data-container] footer {
		display: none;
	}

	#normal-footer {
		display: none;
	}
}
