---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary, summaries } = basics;
---

<Section title="About">
	{
		summaries ? (
			<ul class="&>li]:ml-4 flex list-disc flex-col gap-2 text-sm marker:text-skin-hue/80 print:text-skin-muted">
				{summaries.map((item) => (
					<li>{item}</li>
				))}
			</ul>
		) : (
			<p>{summary}</p>
		)
	}
</Section>
