---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Certificates from "@/components/sections/Certificates.astro";
// import Tail from "@/components/sections/Tail.astro";
import Interests from "@/components/sections/Interests.astro";
import Languages from "@/components/sections/Languages.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import ThemeSwitch from "@/components/ThemeSwitch.astro";

import { basics } from "@cv";
import LastUpdated from "@/components/LastUpdated.astro";
const { name, label } = basics;
---

<Layout title={`${name} - ${label}`}>
	<main
		class="relative grid max-w-7xl gap-12 p-8 max-sm:py-16 md:grid-cols-6 md:p-12 lg:p-16 xl:gap-24 print:block print:max-w-none print:grid-cols-1 print:gap-6 print:px-10 print:py-6"
	>
		<div
			class="print:grid- h-min space-y-6 md:sticky md:top-12 md:col-span-2 lg:top-16 print:static print:col-span-1 print:block print:grid-cols-1 print:gap-0 print:space-y-0"
		>
			<Hero />
			<About />
			<ThemeSwitch />
			<LastUpdated />
		</div>
		<div
			class="space-y-8 md:col-span-4 lg:space-y-12 print:col-span-1 print:mt-5 print:block print:grid-cols-1 print:gap-2 print:space-y-0"
		>
			<Experience className="print:order-1 print:col-span-1" />
			<Projects className="print:order-2" />
			<Skills className="print:order-3" />
			<Education className="print:order-4" />
			<Certificates className="order-last" />
			<Languages className="order-last" />
			<Interests className="order-last" />
		</div>
		<!-- <Tail /> -->
	</main>

	<KeyboardManager />
</Layout>

<style>
	@page {
		size: auto;
		margin: 0mm !important;
		padding-top: 8mm !important;
		padding-bottom: 8mm !important;
	}
	main {
		margin: auto;
		width: 100%;
	}
</style>
