---
import "../styles/markmap.css";
import * as file from "src/markmap.md";
import Layout from "@/layouts/Layout.astro";
import { basics } from "@cv";

const frontmatter = `
---
markmap:
  // maxWidth: 640
---

`;
---

<Layout title={`${basics.name} - Mind map CV`}>
	<div class="markmap-wrapper">
		<div class="markmap">
			<script
				is:inline
				type="text/template"
				set:html={frontmatter + file.rawContent()}
			/>
		</div>
	</div>
</Layout>

<script>
	import markmap from "markmap-autoloader";
</script>
