<div
	class="default [&>div]:flex [&>div]:h-10 [&>div]:items-center [&>div]:px-4"
>
	<div class="border-2 border-b-0 border-solid border-black text-skin-base">
		text-skin-base
	</div>
	<div class="border-2 border-b-0 border-solid border-black text-skin-muted">
		text-skin-muted
	</div>
	<div
		class="border-2 border-b-0 border-solid border-black bg-black text-skin-inverted"
	>
		text-skin-inverted
	</div>
	<div class="border-2 border-solid border-black text-skin-hue">
		text-skin-hue
	</div>
	<div class="border-2 border-b-0 bg-skin-fill">bg-skin-fill</div>
	<div class="border-2 border-b-0 bg-skin-button-accent">
		bg-skin-button-accent
	</div>
	<div class="border-2 border-b-0 bg-skin-muted">bg-skin-muted</div>
	<div class="border-2 bg-skin-hue">bg-skin-hue</div>
</div>
